@font-face {
    font-family:'V AG Rounded Std';
    src: url(../fonts/VAG-Rounded-Std-Thin_47299.ttf);
    font-weight: 300;
}
@font-face {
    font-family:'V AG Rounded Std';
    src: url(../fonts/VAG-Rounded-Std-Light_47298.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'V AG Rounded Std';
    src: url(../fonts/VAG-Rounded-Std-Bold_47297.ttf);
    font-weight: 700;
}