.main-bg {
    background-color: #00a261;
}

.logo-height {
    height: 55px;
}

.main-btn {
    background-color: #fec84c !important;
}

.btn {
    font-family: "V AG Rounded Std";
}

.top-header {
    span {
        font-family: "V AG Rounded Std";
        font-weight: 300;
    }
}

.navbar ul li a {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #333333;
    font-weight: 300;
    font-family: "V AG Rounded Std";
}

.banner-section {
    position: relative;
    .banner-content {
        position: absolute;
        top: 35%;
        width: 100%;
        h1 {
            font-size: 60px;
            letter-spacing: 1px;
            line-height: 70px;
            color: #222222;
            font-weight: bold;
            font-family: "V AG Rounded Std";
        }
        p {
            width: 609px;
            height: 57px;
            font-size: 22px;
            letter-spacing: 0px;
            line-height: 32px;
            color: #333333;
            font-family: "V AG Rounded Std"
        }
    }
    .req-btn { 
        background: transparent;
        border: 2px solid #00a261;
        color: #00a261;
    }
}

.info-card {
    position: relative;
    margin-top: -85px;
    margin-bottom: 100px;
    .infos {
        z-index: 1;
        filter: drop-shadow(9.205px 3.907px 25px rgba(0, 1, 1, 0.12));
        background-color: #ffffff;
        border: 1px solid #e4e4e4;
        .info-main-img {
            filter: invert(27%) sepia(82%) saturate(1341%) hue-rotate( 78deg) brightness(112%) contrast(135%);
            width: 75px;
        }
        .bg-info-img {
            position: absolute;
            right: 5%;
            bottom: 10%;
            opacity: 0.1;
            filter: invert(27%) sepia(82%) saturate(1341%) hue-rotate( 78deg) brightness(112%) contrast(135%);
            width: 140px;
        }
        h2 {
            font-size: 26px;
            color: #333333;
            font-weight: bold;
            font-family: "V AG Rounded Std";
        }
        p {
            font-size: 16px;
            line-height: 25px;
            color: #666666;
            font-weight: 300;
            font-family: "V AG Rounded Std";
        }
        .learn-more {
            position: absolute;
            top: 10%;
            right: 5%;
            font-size: 18px;
            color: white;
            font-weight: bold;
            font-family: "V AG Rounded Std";
            text-align: center;
        }
    }
    .infos:hover {
        background-color: #00a261;
        border: 1px solid #e4e4e4;
        .info-main-img {
            filter: invert(1);
            width: 75px;
        }
        h2 {
            color: white;
        }
        p {
            color: white;
        }
        .bg-info-img {
            display: none;
        }
    }
}

.about-content {
    margin-bottom: 100px;
    .abt-header {
        font-size: 20px;
        line-height: 45px;
        color: #00a261;
        font-weight: 300;
        font-family: "V AG Rounded Std";
    }
    .abt-title {
        font-size: 45px;
        line-height: 45px;
        color: #222222;
        font-weight: bold;
        font-family: "V AG Rounded Std";
        margin-bottom: 30px;
        display: block;
    }
    p {
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 32px;
        color: #666666;
        font-family: "V AG Rounded Std";
    }
    .read-more {
        border-radius: 3px;
        background-color: #00a261;
    }
}

.download-app-section {
    background-color: #e8f5f0;
    .abt-download {
        margin-top: 110px;
    }
    .download-header {
        font-size: 20px;
        line-height: 45px;
        color: #00a261;
        font-weight: 300;
        font-family: "V AG Rounded Std";
    }
    .download-title {
        font-size: 45px;
        line-height: 45px;
        color: #222222;
        font-weight: bold;
        font-family: "V AG Rounded Std";
        margin-bottom: 30px;
        display: block;
    }
    p {
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 32px;
        color: #666666;
        font-family: "V AG Rounded Std";
    }
    .access-login {
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        font-weight: bold;
        font-family: "V AG Rounded Std";
        border-radius: 5px;
        filter: drop-shadow(15px 25.981px 25px rgba(0, 0, 0, 0.1));
        background-color: #00a261;
    }
    .login-access {
        color: white;
    }
    .download-link {
        font-size: 18px;
        line-height: 38px;
        color: #333333;
        font-weight: bold;
        font-family: "V AG Rounded Std";
        margin-top: 40px;
    }
    .follow-link {
        font-size: 18px;
        color: #666666;
        font-weight: 300;
        font-family: "V AG Rounded Std";
        margin-top: 40px;
        a {
            color: #00a261;
        }
    }
}

.join-team-section {
    position: relative;
    .desc-content {
        position: absolute;
        top: 10%;
        width: 100%;
    }
    .header {
        font-size: 20px;
        line-height: 45px;
        color: #ffffff;
        font-weight: 300;
        font-family: "V AG Rounded Std";
    }
    .sub-header {
        font-size: 45px;
        line-height: 45px;
        color: #ffffff;
        font-weight: bold;
        font-family: "V AG Rounded Std";
    }
    .desc {
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 32px;
        color: #ffffff;
        font-weight: bold;
        font-family: "V AG Rounded Std";
    }
    .sub-desc {
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 32px;
        color: #ffffff;
        font-weight: 300;
        font-family: "V AG Rounded Std";
    }
    .main-content {
        position: absolute;
        top: 40%;
        width: 100%;
        .line-brk {
            background-color: white;
        }
        .content-bg {
            .content-txt {
                font-size: 18px;
                letter-spacing: 0px;
                line-height: 28px;
                color: #ffffff;
                font-family: "V AG Rounded Std";
                margin-left: 20px;
            }
        }
    }
}

.get-quote {
    background-color: #00a261;
    padding: 40px 0;
    .main-quote {
        font-size: 40px;
        line-height: 45px;
        color: #fefefe;
        font-weight: bold;
        font-family: "V AG Rounded Std";
    }
    .main-quote-btn {
        border-radius: 3px;
        background-color: #fec84c;
        color: black;
        font-family: "V AG Rounded Std";
    }
    .req-quote-btn {
        border-radius: 3px;
        background-color: rgba(0, 110, 81, 0);
        border: 2px solid #ffffff;
        color: white;
        font-family: "V AG Rounded Std";
    }
}

// filter: invert(24%) sepia(82%) saturate(1341%) hue-rotate(
// 78deg) brightness(112%) contrast(135%);