.banner{
    background-image:url(../Industries-image/banner.png);
    background-repeat: no-repeat;
    height: 342px;

    h2{
        padding-top: 93px;
        font-size: 60px;
        letter-spacing: 1px;
        line-height: 70px;
        color: #ffffff;
        font-weight: bold;
        font-family: "V AG Rounded Std";
    }
}