* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

@import "./configs/fonts";
@import "./configs/colors";
@import "general";
@import "homepage";
@import "industries_served";
@import "industries_served_manufacturing";
@import "industries_served_office";
@import "industries_served_retail";
@import "industries_served_school";
@import "mixed_container_recycling";
@import "service_battery_recycling";
@import "industries_served_hospitality";
@import "industries_served_homeOffice";
@import "main_career";
@import "dynamic_keyword";
@import "industries_served_industrial_commercial";
@import "service_shred_days";
@import "industries_served_multifamily";
