*{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
}

@import './configs/fonts';
@import './configs/colors';
@import 'homepage';
@import 'industries_served';
@import 'industries_served_manufacturing';
@import 'industries_served_office';